<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignIn
            </div>
            <div class="card-body">
                <form (submit)="signIn()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button class="btn btn-success btn-block">
                        SignIn
                    </button>
                    <div class="card-header">
                        <app-allice-public-key [correctamenteLogeado] = "correctamenteLogeado"></app-allice-public-key >
                    </div>
                </form>
            </div>
        </div>
        <div class="body">
            <app-identidad-anonima></app-identidad-anonima>
        </div>
        <div class="card-header">
            <form (submit)="validator()">
                <button class="btn btn-success btn-block">
                    Validate
                </button>
            </form>
        </div>
        <div class="body">
            <app-veredicto [veredicto]="veredicto"></app-veredicto>
        </div>
    </div>
</div>